/* .gameFormInput {
  border-color: var(--mantine-color-hypePurplePrimary-3);
  &:focus {
    border-color: var(--mantine-color-hypePurplePrimary-9);
  }
} */

.gameFormInputError {
  border-color: var(--mantine-color-hypePink-9);
  color: var(--mantine-color-hypePink-9);
}
