.gameTableRoot {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--mantine-spacing-xxs);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.gameTableHeader {
  color: green;
}

.gameTableHeader th {
  background-color: color-mix(
    in srgb,
    var(--mantine-color-hypePurplePrimary-5) 80%,
    transparent
  );
}

.gameTableHeader th:first-child {
  border-top-left-radius: var(--mantine-spacing-xxs);
}

.gameTableHeader th:last-child {
  border-top-right-radius: var(--mantine-spacing-xxs);
}
